ANILIST_CLIENT_ID=your_client_id_here
ANILIST_CLIENT_SECRET=your_client_secret_here
ANILIST_AUTH_URL=https://anilist.co/api/v2/oauth/authorize
ANILIST_TOKEN_URL=https://anilist.co/api/v2/oauth/token
ANILIST_GRAPHQL_URL=https://graphql.anilist.co